*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: "Inter", sans-serif;
} 
.header-message {
    background-color: black;
    text-align: center;
    padding: 8px 0;
    color: white;
    font-size: 12px;
    font-weight: 400;
}
.header-logo{
    font-size: 32px;
    font-weight: 700;
}
@media(max-width:640px){
    .header-logo{
        font-size: 20px;
    }
}
.nav-group {
    display: flex;
    gap: 32px;
    align-items: center;
}
.nav-list{
    list-style: none;
    display: flex;
    gap: 24px;
}
@media(max-width:1024px){
    .nav-list{
        display: none;
    }
}
.nav-item a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
    
}
.header-nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
.input-wrapper{
    background-color: #f8f8f7;
    padding: 10px 20px;
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 100px;
}
@media(max-width:640px){
    .input-wrapper{
        display: none;
    }
}
.input-wrapper .Search-input{
    border: none;
    background-color: transparent;
}
.input-wrapper .Search-input:focus{
    outline: none;
}
.Search-input::placeholder{
    font-family:  "Inter", sans-serif ;
}
.header-login-link{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.cart-btn{
    border: none;
    background-color: transparent;
    position: relative;
    left: -5px;
}
.cart-btn .cart-icon{
    font-size: 20px;
}
.cart-btn span{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    color: white;
    font-size: 10px;
    border-radius: 100%;
    position: absolute;
    right: -5px;
    top: -7px;
}
.hero-container{
    background-image: linear-gradient(to right bottom, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.5)), url(Assets/image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
@media(max-width:500px){
    .hero-container{
        width: 100%;
    }
}
.hero-suheading{
    font-weight: 700;
    font-size: 14px;
}
.hero-heading{
    font-size: 72px;
    font-weight: 500;
}
.hero-wrapper{
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

@media(max-width:780px){
    .hero-wrapper{
        width: 100%;
        padding: 0 10px;
    }
}
@media(max-width:640px){
    .hero-heading{
        font-size: 40px;
    }
}
.hero-paragraph{
    font-size: 18px;
    font-weight: 300;
}
.btn-wrapper{
    display: flex;
    gap: 10px;
}
@media(max-width:400px){
    .btn-wrapper{
    flex-direction: column;
}
}
.btn-primary{
    display: inline-block;
    padding: 17px 32px;
    border: none;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    /* Before the following property, the transition offsets the page for a while,
     To solve it add the following property to the Hover property in Outline too
     use: */
    border: 1px solid transparent;
}
.btn-outline{
    display: inline-block;
    padding: 17px 32px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-primary:hover{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.btn-outline:hover{
    background-color: white;
    border: none;
    color: black;
    border: 1px solid transparent;
}
.Shop-by-category{
    padding: 96px 48px;
}
@media(max-width:780px){
    .Shop-by-category{
        padding: 96px 10px;
    }
}
.category-header{
    
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.category-header h3{
    font-size: 30px;
    font-weight: 500;
}
.category-header .line{
    height: 2px;
    width: 64px;
    background-color: #111111;
}
.cards-wrapper{
    display: flex;
    gap: 32px;
    margin-top: 40px;
}
@media(max-width:640px){
    .cards-wrapper{
        flex-direction: column;
    }
}
.card{
    height: 500px;
    flex-grow: 1;
    padding: 0 20px;
    background: #0000001A;
    border-radius: 5px;
    position: relative;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-text{
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.card-text h3{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;

}
.card-text a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}
.trending-now{
    padding: 96px 48px;
}
@media(max-width:780px){
    .trending-now{
        padding: 96px 10px;
    }
}
.trending-now-header{
    display: flex;
    justify-content: space-between;
}

.trending-now-heading{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}
.trending-now-subheading{
    font-weight: 300;
}
.trending-now-link{
    text-decoration: none;
    color: black;
    align-self: flex-end;
}
@media(max-width:400px){
    .trending-now-header{
        flex-direction: column;
        gap: 10px;
    }
    .trending-now-link{
        align-self: flex-start;
        
    }
}
.trending-now-card .card-description{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.trending-now-cards-wrapper{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
@media(max-width:900px){
    .trending-now-cards-wrapper{
        flex-direction: column;
    }
}
.trending-now-card img{
    width: 100%;
    height: 424px;
    object-fit: cover;
    border-radius: 5px;
}
.trending-now-card .card-description-text h4{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;

}
.trending-now-card .card-description-text p{
    font-weight: 300;
    font-size: 12px;
}
.trending-now-card .card-price{
    font-size: 14px;
    font-weight: 300;
}
.philosophy{
    display: flex;
    gap: 64px;
    padding: 96px 48px 0 48px;
}
@media(max-width:900px){
    .philosophy{
        flex-direction: column;
    }
}
@media(max-width:780px){
    .philosophy{
        padding: 96px 10px 0 10px;
    }
}
.philosophy-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: flex-end;
    padding-bottom: 40px;
}
.philosophy-image{
    width: 704px;
    height: 700px;
}
@media(max-width:1024px){
    .philosophy-image{
        width: 500px;
        height: 480px;
    }
    .philosophy{
        gap: 30px;
    }
}
@media(max-width:900px){
    .philosophy-image{
        display: none;
    }
}
.philosophy-subheading{
    font-weight: 700;
    font-size: 14px;
    color: #666666;
    text-transform: uppercase;
}
.philosophy-heading{
    font-size: 36px;
    font-weight: 500;
}
@media(max-width:780px){
    .philosophy-heading{
        font-size: 20px;
    }
}
.philosophy-paragraph{
    font-size: 18px;
    color: #666666;
    font-weight: 300;
}
.philosophy-link{
    display: inline-block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    width: fit-content;
}
.footer-design{
    background-color: black;
    height: 425px;
    padding: 80px 48px 40px 48px ;

}
.footer-items{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* padding: 20px 48px 40px 0 ; */
}
.first-section{
    display: flex;
    flex-direction: column;
    gap: 22.8px;
}
.first-section h1{
    color: white;
}
.first-section ul{
    color: gray;
    list-style: none;
    font-size: 14px;
    font-weight: 400px;
}
.footer-icons-wrapper{
    color: gray;
    display: flex;
    gap: 16px;
}
.second-section{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.second-section ul{
    color: gray;
    list-style: none;
}
.third-section{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.third-section ul{
    color: gray;
    list-style: none;
}
.fourth-section{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.fourth-section p{
    color: gray;
}
.footer-input{
    display: flex;
}
.text-input{
    background-color: grey;
    height: 66px;
    width: 166.59px;
    border: 0.5px solid rgb(223, 217, 217);
    border-radius: 4px 0 0 4px;
    text-align: center;
    color: white;
}
.text-input::placeholder{
    color:rgb(223, 217, 217);
    text-align: center;
    font-size: 14px;
    flex-wrap: wrap;
}
.text-input:hover{
    outline: none;
}
.btn-input{
    background-color: white;
    height: 66px;
    width: 166.59px;
    border: 0.5px solid #fff;
    border-radius: 0 4px 4px 0;
}
.copyright{
    background-color: transparent;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 52px;
    height: 49px;
    border-top: 0.2px solid grey;
}
.copyright p{
    color: grey;
    font-size: 12px;
}
.copyright-links{
    display: flex;
    gap: 24px;
}
.copyright .copyright-links a{
    text-decoration: none;
    color: grey;
    font-size: 12px;
}
/* @media(max-width:1024px){
    .footer-design{
        height: 100vh;
    }
    .footer-items{
        display: block;
    }
    .first-section{
        margin-bottom: 20px;
    }
} */
 @media(max-width:1024px){
    .footer-design{
        height: auto;
        min-height: 100vh;
    }
    .footer-items{
        display: block;
    }
    .first-section{
        margin-bottom: 20px;
    }
    .second-section,
    .third-section,
    .fourth-section{
        margin-bottom: 20px;
    }
}

@media(max-width:640px){
    .footer-design{
        padding: 60px 20px 40px 20px;
    }
    .footer-input{
        flex-direction: column;
    }
    .text-input, .btn-input{
        width: 100%;
    }
    .text-input{
        border-radius: 4px 4px 0 0;
    }
    .btn-input{
        border-radius: 0 0 4px 4px;
    }
}